mat-card-title{
    // width: 33%;
}
.main-user{
    margin-top: 20px;
    margin-left: 62px;
    font-family: Roboto-Medium;
    // font-weight: bold;
}
.charts-wrapper{
    max-height: 328px;
    // margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
.pie-chart_wrapper{
    // flex-grow:1;
    // width: 25%;
    width: 500px;
    min-width: 500px;
    .total_wrapper{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction:column;
        margin: auto;
        top: 56px; left: -209px; bottom: 0; right: 0;
        .total-sign{
            font-size: 25px;
        }
    }
}
.wrapper-header-pie{
    padding: 0 40px;
    margin-top: 20px !important;
    display: flex;
    justify-content: space-between;
    align-content: center;
    .text-sign{
        display: flex;
        font-size: 28px;
        // align-content: center;
        align-items: center;
        margin-left: 20px;
       
    }
}
.wrapper-chart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .bullits{
        list-style-type: none;
        li{
            margin-bottom: 5px;
        }
    }

}
.text-unshine{
    color: rgba(132, 146, 175, 255);
  
}
.mat-button-wrapper{
    margin-right: 20px;
}
.button-menu{
    // background-color: #5584ff;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 36px;
    // outline: none;
    // border: none;
    // color: white;
    width: 178px;
    height: 48px;

    // color: rgba(132, 146, 175, 255);
  }
  .second-chart-wrapper{
   width: 75%; 
//    width: 1000px;
    canvas{
        max-height: 205px;
        // max-width: 980px;
        padding: 30px;
    }
  }
  .wrapper-social-main{
    display: flex;
    justify-content: space-between;
    align-content: center;
    .wrapper-social{
        width: 33%;
    }
    // margin-left: 20px !important;
    // margin-right: 0 !important;
    
  }
  .select{
    background: #f2f4f8;
  }
  .wrapper-header-message{
    display: flex;
    justify-content: space-between;
    // align-content: center;
    .badge-message{
        margin-right: 20px;
    }
  }
 