<div class="comtainer">
    <h1 class="main-user">Hello {{user}}!</h1>
   
    <div class="charts-wrapper ">

        <mat-card class="pie-chart_wrapper">
            <div class="total_wrapper">
                <div class="total-sign">1,560</div>
                <div class="total-sign text-muted">Sales</div>
            </div>
            <div class="wrapper-header-pie">
                <div class="text-sign">Your Sales</div>
                <div class="button-pie">
                    <button class="button-menu" mat-stroked-button color=""> <span class="text-unshine">Period:</span>
                        <span> Last Year </span>&nbsp;&nbsp;&nbsp;<img src="assets/icons/arrow.png" alt=""></button>

                </div>
            </div>
            <div class="wrapper-chart">
                <div class="text-center">
                    <canvas baseChart class="m-auto" width="230" height="230" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                        [legend]="doughnutChartLegend" [options]="doughnutChartOptions" [chartType]="doughnutChartType"
                        [colors]="[{backgroundColor: ['#25396e', '#5584ff', '#4b74e0','#3755a4','#4164c2']}]"></canvas>
                </div>

                <ul class=" bullits">
                    <li>
                        <h6 class="m-0">
                            <i style="color:#25396e; " class="fa fa-circle font-10 m-r-10 "></i><span class="text-muted">Websites</span></h6>
                    </li>
                    <li>
                        <h6 class="   m-0">
                            <i style="color:#5584ff;" class="fa fa-circle font-10 m-r-10"></i><span class="text-muted">Logo</span></h6>
                    </li>
                    <li>
                        <h6 class="   m-0">
                            <i style="color:#4b74e0;" class="fa fa-circle font-10 m-r-10"></i><span class="text-muted">Social
                                Media</span></h6>
                    </li>
                    <li>
                        <h6 class="    m-0">
                            <i style="color:#3755a4;" class="fa fa-circle font-10 m-r-10"></i><span class="text-muted">Adwords</span></h6>
                    </li>
                    <li>
                        <h6 class="   m-0">
                            <i style="color:#4164c2;" class="fa fa-circle font-10 m-r-10"></i><span class="text-muted">E-Commerce</span></h6>
                    </li>
                </ul>
            </div>

        </mat-card>

        <mat-card class="second-chart-wrapper ">
            <div class="wrapper-header-pie">
                <div class="text-sign">Report</div>
                <div class="button-pie">
                    <button class="button-menu" mat-stroked-button color=""> <span class="text-unshine">Period:</span>
                        <span> Last Year </span>&nbsp;&nbsp;&nbsp;<img src="assets/icons/arrow.png" alt=""></button>

                </div>
            </div>

            <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>

        </mat-card>
      


    </div>
   
    <div class=" wrapper-social-main">
        <div class="wrapper-social tasks ">
            
            <mat-card>
                <mat-card-content>
                    <div class="wrapper-header-message">
                        <mat-card-title>Tasks</mat-card-title>
                        <div class="wrapper-badge"><span class=" mr-2">
                                <span class="badge-message" matBadge="8" matBadgeOverlap="false"></span></span> <span
                                class="badge-red"> <span class="badge-message " matBadge="{{delay}}" matBadgeOverlap="false"></span></span>
                        </div>
                    </div>
                
                    <div class="mailbox message-widget top-mailbox">
                        <div class="message-center">
                            <a *ngFor="let mymessage of mymessages" class="list-component">
                                <div class="user-img">
                                    <img src="/assets/images/taskscircle.png" alt="user" class="img-circle" width="40">
                                    <span class="tasks-letter">{{mymessage.taskLetter}}</span>
                                </div>
                                <div class="mail-content">
                                    <div class="wrapper-name-time">
                                        <span class="name-message">{{mymessage.tasksProject}}</span>

                                    </div>
                                    <div class="wrapper-name-time">

                                        <span *ngIf="mymessage.delay"><img class="link" src="assets/icons/watchred.png"
                                                alt="watch">
                                        </span>
                                        <span *ngIf="!mymessage.delay"><img class="link" src="assets/icons/watch.png"
                                            alt="watch">
                                    </span>
                                        <span *ngIf="mymessage.delay" class="time ml-1 delay">{{mymessage.delay}} days
                                            delays</span>


                                        <span *ngIf="!mymessage.delay" class="time ml-1">{{mymessage.timeStatus}} days
                                            left</span>

                                    </div>
                                    <div class="wrapper-icons-message">
                                    
                                    </div>
                                </div>
                                <div class="to-right"><img src="/assets/icons/dots.png" alt="dots"></div>
                            </a>

                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="wrapper-social ">

            <mat-card>
                <mat-card-content>
                    <div class="wrapper-header-message">
                        <mat-card-title>Messages</mat-card-title> <span class="badge-message" matBadge="{{countMessage}}"
                            matBadgeOverlap="false"></span>
                    </div>
                  
                    <div class="mailbox message-widget top-mailbox">
                        <div class="message-center">
                            <a *ngFor="let mymessage of mymessages" (click)="select(mymessage)" [ngClass]="mymessage.select ? 'select' : 'info'">
                                <div class="user-img">
                                    <img src="{{mymessage.useravatar}}" alt="user" class="img-circle" width="40">
                                    <span class="profile-status {{mymessage.status}} pull-right"></span>
                                </div>
                                <div class="mail-content">
                                    <div class="wrapper-name-time">
                                        <span class="name-message">{{mymessage.from}}</span> <span class="time ml-2">{{mymessage.time}}</span>
                                    </div>
                                    <span class=" message-message">{{mymessage.subject}}</span>
                                    <div class="wrapper-icons-message">
                                        <img class="link" src="assets/icons/return.png" alt="return">
                                        <img class="link ml-2" src="assets/icons/settings-message.png" alt="setting-message">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="wrapper-social ">
          
            <mat-card>
                <mat-card-content>
                    <div class="wrapper-header-message activity-component">
                        <mat-card-title>Activity</mat-card-title> <span class="badge-message" matBadge="8"
                            matBadgeOverlap="false"></span>
                    </div>
           
                    <div class="mailbox message-widget top-mailbox">
                        <div class="message-center">

                            <a *ngFor="let mymessage of mymessages" class="list-component" style=" border-bottom:none;max-height: 84px;">
                                <div class="user-img  user-image-avatar ">
                                    <img src="{{mymessage.useravatar}}" alt="user" class="img-circle user-image-avatar"
                                        width="40">
                                    <div *ngIf="mymessage.id!=8" class="vl"></div>

                                    <span class="profile-status {{mymessage.status}} pull-right"></span>
                                </div>
                                <div class="mail-content">
                                    <div class="wrapper-name-time">
                                        <span class="name-message">{{mymessage.from}}</span><span class="time ml-2">added
                                            a new project</span>
                                    </div>
                                    <span class=" message-message message-special">{{mymessage.project}}</span>
                                    <div class="wrapper-name-time">
                                        <span><img class="link" src="assets/icons/watch.png" alt="watch"> </span> <span
                                            class="time ml-1">{{mymessage.timeActivity}}</span>
                                    </div>
                                    <div class="wrapper-icons-message">
                                    
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>